
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.txt
*.png
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.vs/
*.suo
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
