<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gallio" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net45" />
  <package id="Protractor" version="0.3.0" targetFramework="net45" />
  <package id="Selenium.RC" version="2.43.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.43.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.43.1" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.43.1" targetFramework="net45" />
</packages>